.container {
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  margin: 30px;
}

h2, h3 {
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.form button:hover {
  background-color: #0056b3;
}

.upload-box {
  text-align: center;
  margin-bottom: 40px;
   margin-top: 20px;
}

.agent-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}

.agent-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  border-left: 5px solid #007bff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  width: 300px;
}


.button {
    display: flex;
    align-self: flex-end;
    width: 100px;
}